<div class='container'>
  <h1><%= @restaurant.name %></h1>

  <% [:address, :phone_number, :category].each do |field| %>
    <p>
      <%= field.to_s.humanize %> : <%= @restaurant.send(field) %>
    </p>
  <% end %>

  <ul class="">
    <% @restaurant.reviews.each do |review| %>
      <li class="table">
      <div>
      <%= review.content %>
      </div>
      <div> Rate :
      <%= review.rating %>/5
      </div>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>

  <%= link_to "Back to Restaurants", restaurants_path, class: 'btn btn-primary' %>
</div>
